/**
* @name Icon Revert 2023 Fixes
* @author thisRedH
* @version 1.0.3
* @description Fixes for davart154's Icon Revert to run with Plugins (on Vencord)
* @source https://github.com/thisRedH/DiscordThemes
*/

/*--- Reset some things from davart154's Icon Revert---*/

div.button__493d9 > .buttonWrapper_bd4bd7 > * {
    display: block !important;
}

div.buttonWrapper_bd4bd7 {
    --current-color: currentColor;
    background-color: unset;
}

/*--- Set the new things ---*/

.button__493d9:not(.vc-chatbar-button .button__493d9) .buttonWrapper_bd4bd7 {
    background-color: var(--current-color);
}
